{% extends "layout.html" %}

{% block title %}
    quote
{% endblock %}

{% block main %}
    <form action="/transfer" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="person" placeholder="to who?" type="text">

        </div>
         <div class="mb-3">

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="how much" type="number" min=1>
        </div>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
{% endblock %}
